/* todo font */

div#container {
    font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
    width: 960px;
    margin: 0 auto;
    text-align: left;
    color: rgb(51, 51, 51);
}

p#site-title a{
    color: rgb(51, 51, 51);
    font-size: 30px;
    text-decoration: none;
}

div.nav-bg-left {
    background-image: url(/images/nav-left.png);
    background-origin: padding-box;
    padding-left: 5px;
}

div.nav-bg {
    background-image: url(/images/nav-bg.png);
    height: 40px;
}

div.nav-bg-right {
    background-image: url(/images/nav-left.png);
    padding-right: 5px;
}

ul#nav {
    padding: 0;
}

ul#nav li {
    list-style-type: none;
}

ul#nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 12px;
}

div.main-content {
    font-size: 13px;
}

div.main-content h2{
    font-size: 18px;
}

div#con-res {
    margin-top: 24px;
}

div#contact {
    width: 50%;
    float: left;
}

div#research {
    width: 50%;
    float: right;
}

.strong-text {
    font-weight: bold;
}

.clearfix {
    clear: both;
}


div#footer {
    border-top-color: rgb(170, 170, 170);
    border-top-style: solid;
    border-top-width: 1px;
    height: 60px;
    margin-top: 45px;
    font-size: 11px;
    text-align: right;
}

/* ------------------------------------------------------------------- */

/*
.clearfix {
    clear:both;  /* affect float, and height calculation. comment it out to see its effect* /
}

html {

}

body {
    background: url(../images/bg.png) repeat-x;
    background-color: #dedddf;
    text-align: center;
    color: #444;
    font-family: Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';
}

div#header {
    position: relative;
    height: 82px;
    width: 928px;
    margin: 0 auto;
    margin-bottom: 30px;
}

p#site-title {
    position: absolute;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 800;
    color: #dfdfdf;
}

p#site-subtitle {
    position: absolute;
    top: 26px;
    left: 18px;
    margin: 0;
    padding: 0;
    font-size: 9px;
    font-weight: 300;
    font-style: italic;
    color: #dfdfdf;
}

div#nav-search {
    position: absolute;
    bottom: 10px;
    right: 0px;
    float: right;
    margin: 40px 0 0;
}

ul#nav {
    margin-right: 266px;
}

ul#nav li {
    display: inline-block;
    margin-left: 25px;
}

ul#nav a {
    color: #dfdfdf;
    text-decoration: none;
    font-size: 14px;
}

div#footer {
    margin-top: 18px;
    border-top: 1px solid #838B83;
    color: #aaa;
    font-size: 8px;
    font-style: italic;
}
*/
